@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-size:cover;
    font-family: 'Roboto';
}

p {
    margin: 2rem;
    line-height: 2;
}


/* Navbar */
.navbar {
    align-items: center;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.1s;
}

.navbar > h1, .navbar > h2 {
    cursor: pointer;
}

.navbar > h2 {
    transition: 1s;
}

.navbar > h2:hover {
    color: grey;
    transition: 0.2s;
}

.heading {
    padding-left: 1rem;
    text-align: left;
}

.selected-page {
    color: green;
}

/* Home page */

.home-section {
    border-radius: 25px;
    height: fit-content;
    width: 95%;
    margin: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-heading {
    border-radius: 10px;
    font-size: 5rem;
    background-color: black;
    width: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.intro-body {
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Menu page */

.menu-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menu-item {
     background-color: white;
     border-radius: 25px;
     margin: 2rem;
}

.menu-img {
    width: 80%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 25px;
    
}

/* Hours page */

.main-hours-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hours-section {
    padding: 1rem;
    background-color: white;
    border-radius: 25px;
    width: 30%;
    margin: 3rem;
}

.hours-heading {
    border-radius: 10px;
    margin-top: 0;
    background-color: black;
    color: white;
}

.daily-hours {
    margin: 0.5rem;
}